{{#match category "=" "blog"}}
    <div class="gh-outer tag-blog">
        
        <div class="gh-inner"><h5>
                <span class="title-tag blog">{{#get 'tags' filter='slug:{{category}}' limit='1'}}{{#foreach tags}}{{ name }}{{/foreach}}{{/get}}</span>
                <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
                <a href="/blog/">tout lire</a>
        </h5></div>

    {{#get "posts" filter="tag:blog" limit="12" include="tags"}}
        <div class="featured-posts carousel blog owl gh-inner">
        {{#foreach posts}}
            {{> "carousel-article"}}
        {{/foreach}}
    </div>
    {{/get}}
    </div>
{{else}}
    <div class="gh-outer tag-{{category}}">
        
        <div class="gh-inner"><h5>
                <span class="title-tag tag-{{category}}">{{#get 'tags' filter='slug:{{category}}' limit='1'}}{{#foreach tags}}{{ name }}{{/foreach}}{{/get}}</span>
                <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
                <a href="/tag/{{category}}">tout voir</a>
        </h5></div>
    
    {{#match order "=" "serie"}}
        {{#get "posts" filter="tag:{{category}}+tag:-blog" limit="12" include="tags" order="published_at asc"}}
            <div class="featured-posts carousel owl gh-inner serie">
            {{#foreach posts}}
                {{> "carousel-article"}}
            {{/foreach}}
        </div>
        {{/get}}
    {{else}}
        {{#get "posts" filter="tag:{{category}}+tag:-blog" limit="12" include="tags"}}
            <div class="featured-posts carousel owl gh-inner">
            {{#foreach posts}}
                {{> "carousel-article"}}
            {{/foreach}}
        </div>
        {{/get}}
    {{/match}}
    </div>
{{/match}}