{{#match site "!=" ""}}
<div class="gh-outer friends friend-{{slug}}" data-site='[ { "url":"{{site}}","key":"{{api}}","profile_image":"{{profile_image}}","name":"{{name}}" } ]'>
{{else}}
    {{#get 'authors' visibility='all' limit='all' include='count.posts'}}
        <div class="gh-outer friends" data-site='[ {{#foreach authors}}{{#match count.posts "=" 0}}{ "url":"{{website}}","key":"{{location}}","profile_image":"{{profile_image}}","name":"{{name}}" }, {{/match}}{{/foreach}} {} ]' data-slug="{{#foreach authors}}{{#match count.posts "=" 0}}{{slug}},{{/match}}{{/foreach}}" data-sort="{{@custom.show_all_authors_posts}}">
    {{/get}}
{{/match}}

    <div class="gh-inner"><h5>
            <span class="title-tag tag-friends">{{title}}</span>
            <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
            {{#match site "!=" ""}}<a href="{{site}}" target="_blank">tout voir sur le site</a>{{/match}}
    </h5></div>

    <div class="featured-posts carousel owl gh-inner"></div>

</div>