<div class="gh-outer">
    
    <div class="gh-inner"><h5>
            <span class="title-tag">Amis</span>
            <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
    </h5></div>

{{#match @custom.show_these_authors "!=" "all"}}
{{#get 'authors' visibility='all' limit='all' include='count.posts' filter='slug:[{{@custom.show_these_authors}}]'}}

    <div class="featured-posts authors carousel owl gh-inner">

    {{#foreach authors}}
    <article class="post featured" tabindex="0">

        <figure class="post-media">
        <div class="u-placeholder square">
            <a class="post-image-link" href="{{website}}" target="_blank" title="{{name}}">
                <img class="post-image u-object-fit" src="{{profile_image}}" alt="{{name}}">
            </a>
        </div>
        </figure>

        <header class="post-header">
            <h2 class="post-title">
                <a class="post-title-link" href="{{website}}" target="_blank">{{name}}</a>
            </h2>
        </header>

    </article>
    {{/foreach}}
</div>
{{/get}}

{{else}}
{{#get 'authors' visibility='all' limit='all' include='count.posts'}}

    <div class="featured-posts authors carousel owl gh-inner">

    {{#foreach authors}}
    {{#match count.posts "=" 0}}
    <article class="post featured" tabindex="0">

        <figure class="post-media">
        <div class="u-placeholder square">
            <a class="post-image-link" href="{{website}}" target="_blank">
                <img class="post-image u-object-fit" src="{{profile_image}}" alt="{{name}}">
            </a>
        </div>
        </figure>

        <header class="post-header">
            <h2 class="post-title">
                <a class="post-title-link" href="{{website}}" target="_blank">{{name}}</a>
            </h2>
        </header>

    </article>
    {{/match}}
    {{/foreach}}
</div>
{{/get}}

{{/match}}



</div>