<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}" data-id="{{id}}" data-duration="{{og_title}}" tabindex="0">

    <figure class="post-media">
    <div class="u-placeholder square">
        <a class="post-image-link" href="{{url}}" title="{{title}}">
        {{> "post-access"}}
        {{> "carousel-image"}}
        </a>
    </div>
    </figure>

    <header class="post-header">
        <h2 class="post-title">
            <a class="post-title-link" href="{{url}}" title="{{title}}">{{title}}</a>
        </h2>
        <div class="post-meta">
            <span class="post-meta-item post-meta-date">
                <time datetime="{{date format="YYYY-MM-DD HH:mm"}}">{{date published_at}}</time>
            </span>
        </div>
    </header>

</article>