{{#if feature_image}}
    <img
        class="post-image u-object-fit"
        srcset="{{img_url feature_image size="s"}} 400w,
                {{img_url feature_image size="m"}} 750w,
                {{img_url feature_image size="l"}} 960w,
                {{img_url feature_image size="xl"}} 1140w"
        src="{{img_url feature_image size="s"}}"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
        loading="lazy"
    >
{{else}}
    <img
        class="post-image u-object-fit"
        src="https://via.placeholder.com/1024x576.png?text=Vignette+absente"
        alt=""
        loading="lazy"
    >
{{/if}}