{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
            <h2>Disponible pour les abonné⸱es "{{tiers separator='", "' lastSeparator='" et "' suffix='"'}}</h2>
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" style="color:{{accentColor}}">Mettre à niveau</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" style="color:{{accentColor}}">S'abonner</a>
            <p><small>Vous avez déjà un compte ? <a data-portal="signin">Se connecter</a></small></p>
        {{/if}}
    </div>
</aside>