<div class="gh-outer {{#match tagtitle "=" "Dernières vidéos"}}last-videos{{else}}featured{{/match}}">

    <div class="gh-inner"><h5>
        {{tagtitle}}
        <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
        {{#match tagtitle "=" "Dernières vidéos"}}<a href="/videos/">tout voir</a>{{/match}}
    </h5></div>

    <div class="featured-posts carousel owl gh-inner"{{#match filter "=" "+featured:true"}} data-carousel='{"minWidth":768,"responsive":{"0":{"items":1,"slideBy":1,"nav":true},"768":{"items":2,"slideBy":2},"992":{"items":3,"slideBy":3}}}'{{/match}}>

        {{#get "posts" filter="tag:-blog{{filter}}" limit="12" include="tags" as |featured|}}{{#if featured}}
        
            {{#foreach featured}}
                {{> "carousel-article"}}
            {{/foreach}}

        {{/if}}{{/get}}
        
    </div>

</div>