<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}" data-id="{{id}}" data-duration="{{og_title}}" tabindex="0">

    
    <figure class="post-media gh-canvas">
        <div class="u-placeholder square kg-width-wide">
            <a class="post-image-link" href="{{url}}">
                {{> "post-access"}}
                {{#if feature_image}}
                <img
                    class="post-image u-object-fit"
                    srcset="{{img_url feature_image size="s"}} 400w,
                            {{img_url feature_image size="m"}} 750w,
                            {{img_url feature_image size="l"}} 960w,
                            {{img_url feature_image size="xl"}} 1140w,
                            {{img_url feature_image size="xxl"}} 1920w"
                    sizes="(min-width: 960px) 960px, 92vw"
                    src="{{img_url feature_image size="l"}}"
                    alt="{{title}}"
                    loading="lazy"
                >
                {{else}}
                <img
                    class="post-image u-object-fit"
                    sizes="(min-width: 960px) 960px, 92vw"
                    src="https://via.placeholder.com/1024x576.png?text=Cover+not+found"
                    alt="{{title}}"
                    loading="lazy"
                >
                {{/if}}
            </a>
        </div>
    </figure>

    <div class="gh-canvas">
        <header class="post-header">
            <h2 class="post-title">
                <a class="post-title-link" href="{{url}}">{{title}}</a>
            </h2>
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD HH:mm"}}">{{date published_at}}</time>
                </span>
                {{!-- A réactiver pour les commentaires natifs de Ghost
                {{#if @site.comments_enabled}}
                    {{comment_count class="post-meta-item"}}
                {{/if}}
                --}}
                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags"><a class="post-tag post-tag-{{slug}}" href="{{#match slug "=" "blog"}}/blog/{{else}}{{url}}{{/match}}" title="{{name}}">{{name}}</a></span>
                {{/primary_tag}}
            </div>
        </header>

        {{#if excerpt}}
            <div class="post-excerpt">
                {{excerpt words="33"}}
            </div>
        {{/if}}
    </div>

</article>