{{^has visibility="public"}}
    {{#unless access}}
        <span class="post-media-access">
            {{#has visibility="members"}}
                Abonné⸱e
            {{else}}
                Membre   
            {{/has}}
        </span>
    {{else}}
        <span class="post-media-access">
            {{#has visibility="members"}}
                Abonné⸱e ✅
            {{else}}
                Membre ✅         
            {{/has}}
        </span>
    {{/unless}}
{{/has}}