{{#if feature_image}}
    <figure class="post-media kg-width-wide{{#is "post"}} post-main{{/is}}">
        <img
            class="post-image"
            srcset="{{img_url feature_image size="s"}} 400w,
                    {{img_url feature_image size="m"}} 750w,
                    {{img_url feature_image size="l"}} 960w,
                    {{img_url feature_image size="xl"}} 1140w,
                    {{img_url feature_image size="xxl"}} 1920w"
            sizes="(min-width: 960px) 960px, 92vw"
            src="{{img_url feature_image size="l"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            loading="lazy"
        >

        
    </figure>
{{else}}{{#is "post"}}
    <figure class="post-media kg-width-wide{{#is "post"}} post-main{{/is}}">
        <img
            class="post-image"
            sizes="(min-width: 960px) 960px, 92vw"
            src="https://via.placeholder.com/1024x576.png?text=Vignette+absente"
            alt=""
            loading="lazy"
        >
    </figure>
{{/is}}{{/if}}

{{#if feature_image_caption}}
    <figcaption>{{feature_image_caption}}</figcaption>
{{/if}}