{{#get "posts" limit="all" filter="tag:{{primary_tag.slug}}+tag:-blog" include="tags" order="published_at asc" as |related|}}{{#if related}}
    <div class="gh-outer">

        <div class="gh-inner"><h5>
            Playlist
            <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
        </h5></div>
        
        <div class="featured-posts playlist carousel owl gh-inner">
        {{#foreach related}}
            {{> "carousel-article"}}
        {{/foreach}}

    </div></div>
{{/if}}{{/get}}

    <div class="gh-outer">
        <div class="gh-inner"><h5>
            Suggestions
            <span class="gh-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>
        </h5></div>
        <div class="featured-posts suggest carousel owl gh-inner">
        </div>
    </div>