@media (prefers-color-scheme: dark) {

    html:not(.light-mode) body,
    html:not(.light-mode) .is-head-open #gh-head .gh-head-actions {
        color: var(--dark-mode-primary-text-color);
        background-color: var(--dark-mode-bg-color);
    }
    
    html:not(.light-mode) a:not(.menu-item-link):not(.post-tag):not(.kg-btn):not(.kg-nft-card-container):not(.kg-product-card-button):not(.kg-header-card-button):not(.gh-head-btn),
    html:not(.light-mode) h1,
    html:not(.light-mode) h2,
    html:not(.light-mode) h3,
    html:not(.light-mode) h4,
    html:not(.light-mode) h5,
    html:not(.light-mode) h6,
    html:not(.light-mode) blockquote,
    /*figcaption,*/
    html:not(.light-mode) .u-text-format strong,
    html:not(.light-mode) .logo-text,
    html:not(.light-mode) .canvas-close,
    html:not(.light-mode) .author-social-item:hover,
    html:not(.light-mode) .error-code,
    html:not(.light-mode) .menu-item-link:hover,
    html:not(.light-mode) .kg-bookmark-title,
    html:not(.light-mode) .kg-bookmark-author,
    html:not(.light-mode) .kg-bookmark-publisher {
        color: var(--light-gray-color);
    }
    
    html:not(.light-mode) .gh-head-logo img:first-child:not(:only-child) {
        opacity: 0;
    }
    
    html:not(.light-mode) .gh-head-logo img:nth-child(2) {
        opacity: 1;
    }
    
    html:not(.light-mode) .gh-burger::before,
    html:not(.light-mode) .gh-burger::after,
    html:not(.light-mode) hr,
    html:not(.light-mode) hr::before,
    html:not(.light-mode) hr::after,
    html:not(.light-mode) .post-media-access {
        background-color: var(--light-gray-color);
    }
    
    html:not(.light-mode) .menu-item-link,
    html:not(.light-mode) .post-meta,
    html:not(.light-mode) .post-meta a,
    html:not(.light-mode) h5 a,
    html:not(.light-mode) .page-number,
    html:not(.light-mode) .author-location,
    html:not(.light-mode) .author-social-item,
    html:not(.light-mode) .button-arrow-icon,
    html:not(.light-mode) .kg-bookmark-description {
        color: var(--dark-mode-secondary-text-color) !important;
    }
    
    html:not(.light-mode) .post-footer,
    html:not(.light-mode) .page-number,
    html:not(.light-mode) .kg-bookmark-card {
        border-color: var(--dark-mode-border-color);
    }
    
    html:not(.light-mode) .comment-container,
    html:not(.light-mode) .u-placeholder,
    html:not(.light-mode) pre,
    html:not(.light-mode) :not(pre) > code,
    html:not(.light-mode) .kg-header-card.kg-style-light {
        background-color: var(--dark-mode-darker-bg-color);
    }
    
    html:not(.light-mode) .gh-head,
    html:not(.light-mode) .off-canvas {
        background-color: var(--dark-mode-bg-color) !important;
    }
    
    html:not(.light-mode) .sep::after {
        background-color: var(--dark-mode-border-color);
    }
    
    html:not(.light-mode) .u-text-format ol li::before {
        font-weight: 700;
    }
    
    html:not(.light-mode) blockquote {
        border-color: var(--light-gray-color);
    }
    
    html:not(.light-mode) button {
        color: var(--light-gray-color);
    }
    
    html:not(.light-mode) input[type="range"] {
        color: var(--dark-mode-primary-text-color);
    }
    
    html:not(.light-mode) article .post-media a.post-image-link:after {
        filter: brightness(.9);
    }
    
    html:not(.light-mode) img {
        filter: brightness(.95);
    }
    
}

html.dark-mode body,
html.dark-mode .is-head-open #gh-head .gh-head-actions {
    color: var(--dark-mode-primary-text-color);
    background-color: var(--dark-mode-bg-color);
}

html.dark-mode a:not(.menu-item-link):not(.post-tag):not(.kg-btn):not(.kg-nft-card-container):not(.kg-product-card-button):not(.kg-header-card-button):not(.gh-head-btn),
html.dark-mode h1,
html.dark-mode h2,
html.dark-mode h3,
html.dark-mode h4,
html.dark-mode h5,
html.dark-mode h6,
html.dark-mode blockquote,
/*html.dark-mode figcaption,*/
html.dark-mode .u-text-format strong,
html.dark-mode .logo-text,
html.dark-mode .canvas-close,
html.dark-mode .author-social-item:hover,
html.dark-mode .error-code,
html.dark-mode .menu-item-link:hover,
html.dark-mode .kg-bookmark-title,
html.dark-mode .kg-bookmark-author,
html.dark-mode .kg-bookmark-publisher {
    color: var(--light-gray-color);
}

html.dark-mode .gh-head-logo img:first-child:not(:only-child) {
    opacity: 0;
}

html.dark-mode .gh-head-logo img:nth-child(2) {
    opacity: 1;
}

html.dark-mode .gh-burger::before,
html.dark-mode .gh-burger::after,
html.dark-mode hr,
html.dark-mode hr::before,
html.dark-mode hr::after,
html.dark-mode .post-media-access {
    background-color: var(--light-gray-color);
}

html.dark-mode .menu-item-link,
html.dark-mode .post-meta,
html.dark-mode .post-meta a,
html.dark-mode h5 a,
html.dark-mode .page-number,
html.dark-mode .author-location,
html.dark-mode .author-social-item,
html.dark-mode .button-arrow-icon,
html.dark-mode .kg-bookmark-description {
    color: var(--dark-mode-secondary-text-color) !important;
}

html.dark-mode .post-footer,
html.dark-mode .page-number,
html.dark-mode .kg-bookmark-card {
    border-color: var(--dark-mode-border-color);
}

html.dark-mode .comment-container,
html.dark-mode .u-placeholder,
html.dark-mode pre,
html.dark-mode :not(pre) > code,
html.dark-mode .kg-header-card.kg-style-light {
    background-color: var(--dark-mode-darker-bg-color);
}

html.dark-mode .gh-head,
html.dark-mode .off-canvas {
    background-color: var(--dark-mode-bg-color) !important;
}

html.dark-mode .sep::after {
    background-color: var(--dark-mode-border-color);
}

html.dark-mode .u-text-format ol li::before {
    font-weight: 700;
}

html.dark-mode blockquote {
    border-color: var(--light-gray-color);
}

html.dark-mode button {
    color: var(--light-gray-color);
}

html.dark-mode input[type="range"] {
    color: var(--dark-mode-primary-text-color);
}

/* NIGHTSHIFT TOGGLE */

.nightshift-toggle-container {
    display: inline-block;
    padding-top: 5px;
    opacity: .5;
}

.nightshift-toggle-container[data-tooltip]:before {
    left: -10px
}

.nightshift-toggle {
    position: relative;
    height: 22px;
    width: 42px;
    background: #15171a;
    cursor: pointer
}

.nightshift-toggle,.nightshift-toggle .thumb {
    border-radius: 999px;
    transition: all .3s ease-in-out
}

.nightshift-toggle .thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: #fff
}

.nightshift-toggle.on .thumb {
    position: absolute;
    left: 22px;
    top: 2px
}

.nightshift-toggle .sun {
    right: 6px
}

.nightshift-toggle .moon,.nightshift-toggle .sun {
    position: absolute;
    top: 5px;
    color: #fff;
    line-height: 1
}

.nightshift-toggle .moon {
    left: 6px
}

.nightshift-toggle .moon svg,.nightshift-toggle .sun svg {
    width: 12px;
    height: 12px;
    transition: all .3s ease-in-out
}

.nightshift-toggle .moon svg path,.nightshift-toggle .sun svg circle,.nightshift-toggle .sun svg line,.nightshift-toggle .sun svg path {
    stroke-width: 2px
}