.tally-popup {
    border-radius: 10px !important;
    overflow: hidden;
    animation: popup 0.25s ease-in-out;
    box-shadow: 0 3.8px 2.2px rgba(var(--blackrgb), 0.028), 0 9.2px 5.3px rgba(var(--blackrgb), 0.04), 0 17.3px 10px rgba(var(--blackrgb), 0.05), 0 30.8px 17.9px rgba(var(--blackrgb), 0.06), 0 57.7px 33.4px rgba(var(--blackrgb), 0.072), 0 138px 80px rgba(var(--blackrgb), 0.1) !important;
}
.tally-popup iframe {
    background: white;
    padding: 12px;
}
.tally-overlay {
    animation: fadein .2s;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: transparent !important;
    background: linear-gradient(315deg,rgba(0,0,0,.2),rgba(0,0,0,.1));
    align-items: start !important;
    padding: 5vmin 0 0 !important;
}
.tally-loading-indicator {
    margin-top: 20vh;
}
.tally-popup::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: white;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gh-portal-closeicon" alt="Close"><defs><style>.a{fill:none;stroke:lightgrey;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2px !important;}</style></defs><path class="a" d="M.75 23.249l22.5-22.5M23.25 23.249L.75.749"></path></svg>');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 52px;
    height: 52px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@media (max-width: 767px) {
    .tally-overlay {
        background: #fff !important;
        padding: 0 !important;
    }
    .tally-popup {
        width: 100% !important;
        overflow: unset;
        box-shadow: none !important;
        padding: 20px 0 0 0 !important;
        margin: 0 !important;
        width: 100vw !important;
        max-width: 100vw !important;
        top: 0;
    }
    .tally-popup::before {
        display: none;
    }
}