{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#author}}
        <section class="term gh-outer">
            {{#if profile_image}}
                <div class="term-image-container u-placeholder">
                    <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                </div>
            {{/if}}
            <div class="term-wrapper">
                <h1 class="term-name">{{name}}
                    {{#if twitter}}<a class="term-social" href="https://twitter.com/{{twitter}}" target="_blank" title="X / {{twitter}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"></path>
                        </svg>
                    </a>{{/if}}
                    {{#if facebook}}<a class="term-social" href="https://facebook.com/{{facebook}}" target="_blank" title="Facebook / @{{facebook}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                        </svg>
                    </a>{{/if}}
                </h1>
                <div class="term-description">{{bio}}</div>
                {{#if website}}<div class="term-website"><a href="{{website}}" target="_blank">{{website}}</a></div>{{/if}}
            </div>
        </section>
    {{/author}}

    <div class="post-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>
</div>