{{!< default}}

{{#post}}

<style>
    body {
        padding-top: 0 !important;
    }
    body:not(.is-head-open) #gh-head {
        position: relative !important;
        box-shadow: none !important;
    }
    .site-content {
        padding-top: 2em;
    }
    @media (max-width: 767px) {
        .gh-foot-menu a {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
    {{#if feature_image}}
    body {
        background-position: 50% 50%;
        background-image: url({{img_url feature_image}});
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-size: cover;
    }

    .site {
        background: linear-gradient(315deg , rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.8) 100%);
    }
    html.dark-mode .site {
        background: linear-gradient(315deg , rgba(40,44,53,0.97) 0%, rgba(40,44,53,0.9) 100%);
    }
    @media (prefers-color-scheme: dark) {
        html:not(.light-mode) .site {
            background: linear-gradient(315deg , rgba(40,44,53,0.97) 0%, rgba(40,44,53,0.9) 100%);
        }
    }

    /*.gh-foot, .gh-foot a {
        color: var(--black-color);
    }*/
    #gh-head {
        background: transparent;
    }
    {{/if}}
</style>

<div class="content-area videaste-links">
<main class="site-main">
    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

        <header class="article-header gh-canvas">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>
    </article>
</main>
</div>
{{#get "posts" limit="8" include="tags"}}
    <div class="gh-outer gh-canvas">
        <div class="featured-posts carousel owl gh-inner" data-carousel='{"minWidth":null,"responsive":{"0":{"items":1,"slideBy":1,"nav":true},"768":{"items":2,"slideBy":2}}}'>
            {{#foreach posts}}
                {{> "carousel-article"}}
            {{/foreach}}
        </div>
    </div>
{{/get}}

{{/post}}