{{!< default}}

{{#post}}

<div class="content-area">
<main class="site-main">
    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

        <header class="article-header gh-canvas">
            <h1 class="post-title">{{title}}</h1>
            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

    </article>
</main>
</div>

<div class="gh-content tags">
    <div class="gh-inner">

        <div class='all-tags'>
            {{#get 'tags' limit='all' filter="slug:-blog" include='count.posts' order='count.posts desc'}}
            {{#foreach tags}}
                <div class='tag-item'>
                <a href='{{ url }}'{{#if accent_color}} style="background-color:{{accent_color}}"{{/if}}>
                    {{#if feature_image}}
                        <img
                            class="tag-image u-object-fit"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{title}}"
                        >
                    {{/if}}
                    <h2>{{ name }} <span>({{ count.posts }})</span></h2>
                </a>
                </div>
            {{/foreach}}
            {{/get}}
        </div>

    </div>
</div>


{{/post}}