<!DOCTYPE html>
<!--
Ce site existe grâce à :

░▒█▀▀▄░▒█░▒█░▒█▄░▒█░▒█▀▀▀█░▒█▀▀▀░▒█▀▀▀░▒█▀▀▄░░░░▒█▀▀▀█░▒█▀▀▄░▒█▀▀█░░
░▒█▀▀▄░▒█░▒█░▒█▒█▒█░░▀▀▀▄▄░▒█▀▀▀░▒█▀▀▀░▒█░▒█░░░░▒█░░▒█░▒█▄▄▀░▒█░▄▄░░
░▒█▄▄█░░▀▄▄▀░▒█░░▀█░▒█▄▄▄█░▒█▄▄▄░▒█▄▄▄░▒█▄▄█░▄▄░▒█▄▄▄█░▒█░▒█░▒█▄▄▀░░

Rendez-vous sur https://bunseed.org
-->
<html lang="{{@site.locale}}" data-scroll="0">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{block "title"}}}{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

<script>
const debounce=t=>{let e;return(...s)=>{e&&cancelAnimationFrame(e),e=requestAnimationFrame((()=>{t(...s)}))}},storeScroll=()=>{document.documentElement.dataset.scroll=window.scrollY};document.addEventListener("scroll",debounce(storeScroll),{passive:!0}),storeScroll();class LocalStorageList{constructor(t){this.storageKey=t,this.history=JSON.parse(localStorage.getItem(t))||[]}add(t){let e=this.history.findIndex((e=>e.id===t.id));e>-1?this.history[e]=t:this.history.push(t),this.syncWithLocalStorage()}get(t){return this.history.find((e=>e.id===t))||null}delete(t){this.history=this.history.filter((e=>e.id!==t)),this.syncWithLocalStorage()}deleteAll(){this.history=[],this.syncWithLocalStorage()}syncWithLocalStorage(){localStorage.setItem(this.storageKey,JSON.stringify(this.history))}}class PlayerHistory extends LocalStorageList{constructor(){if(super("PlayerHistory"),PlayerHistory.instance)return PlayerHistory.instance;PlayerHistory.instance=this}}let playerHistory=new PlayerHistory;class MyList extends LocalStorageList{constructor(){if(super("MyList"),MyList.instance)return MyList.instance;MyList.instance=this}}let myList=new MyList;
</script>

    <script src="https://unpkg.com/@peertube/embed-api/build/player.min.js"></script>
    
    {{ghost_head}}

</head>

<body class="{{#if @member.paid}}useris-memberpaid{{else if @member}}useris-member{{else}}useris-free{{/if}} {{body_class}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                            {{#if @custom.white_logo_for_dark_mode}}
                                <img src="{{img_url @custom.white_logo_for_dark_mode}}" alt="{{@site.title}}">
                            {{/if}}
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <a href="/my-list/" title="Ma liste" class="vd-mylist gh-search gh-icon-btn">{{> "icons/bookmark"}}</a>
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                <a href="/my-list/" title="Ma liste" class="vd-mylist gh-search gh-icon-btn">{{> "icons/bookmark"}}</a>
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="gh-head-link" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                            {{else}}
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>
        </div>
    </header>

    <div class="site-content">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="gh-copyright">
                <div>{{@site.title}} © {{date format="YYYY"}}</div>
                <div class="nightshift-toggle-container">
                    <div class="nightshift-toggle " data-ember-action="" data-ember-action-27="27">
                        <div class="sun"><svg viewBox="0 0 24 24"><defs><style>.sun_svg__a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px}</style></defs><circle class="sun_svg__a" cx="12" cy="12" r="4.5"></circle><path class="sun_svg__a" d="M12 .75V4.5m0 15v3.75M23.25 12H19.5m-15 0H.75m19.5-8.25l-3 3m-10.5 10.5l-3 3m16.5 0l-3-3M6.75 6.75l-3-3"></path></svg></div>
                        <div class="moon"><svg viewBox="0 0 24 24"><path d="M12.248 11.959A11.254 11.254 0 004.373 1.226a11.25 11.25 0 110 21.466 11.253 11.253 0 007.875-10.733z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill-rule="evenodd"></path></svg></div>
                        <div class="thumb"></div>
                    </div>
                </div>
            </div>
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-powered-by">
                <a href="https://bunseed.org" target="_blank" rel="noopener" title="Créer son site pour vidéaste">Bunseed.org</a>
                <br>
                <a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a>
            </div>
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/fr.min.js" integrity="sha512-RAt2+PIRwJiyjWpzvvhKAG2LEdPpQhTgWfbEkFDCo8wC4rFYh5GQzJBVIFDswwaEDEYX16GEE/4fpeDNr7OIZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{asset "built/main.min.js"}}"></script>

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<div class="modal micromodal-slide" id="modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__wrapper">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <button class="modal__close" aria-label="Close modal" data-micromodal-close>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gh-portal-closeicon" alt="Close"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2px !important;}</style></defs><path class="a" d="M.75 23.249l22.5-22.5M23.25 23.249L.75.749"></path></svg>
                </button>
                <iframe seamless="seamless" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
   </div>
</div>
<script>
const e=document.querySelector(".nightshift-toggle"),t=window.matchMedia("(prefers-color-scheme: dark)");let a=window.matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light";const o=localStorage.getItem("theme"),r=document.querySelector("html");function toggleTheme(t){return"dark"===t?(r.classList.remove("dark-mode"),e.classList.remove("on"),"light"==a?localStorage.removeItem("theme"):(localStorage.setItem("theme","light"),r.classList.add("light-mode")),"light"):(r.classList.remove("light-mode"),e.classList.add("on"),"dark"==a?localStorage.removeItem("theme"):(localStorage.setItem("theme","dark"),r.classList.add("dark-mode")),"dark")}let l=o||a;toggleTheme("dark"==l?"light":"dark"),e.addEventListener("click",(function(){l=toggleTheme(l)})),t.addEventListener("change",(function(){a=window.matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light",l=toggleTheme("dark"==a?"light":"dark")}));
</script>

{{ghost_foot}}
</body>
</html>