{{!< default}}

    {{!-- PAGE HOME ? --}}
    {{#get "pages" filter="slug:home" limit="1" as |page|}} 
    {{#page}}
        <div class="content-area">
        <main class="site-main">
            <article class="home">
                <div class="gh-content gh-canvas">
                    {{content}}
                </div>
            </article>
        </main>
        </div>
    {{/page}}
    {{/get}}

    {{!-- FEATURED POSTS --}}
        {{#if @custom.show_featured_posts}}
            {{> "featured" tagtitle="Vidéos mises en avant" filter="+featured:true"}}
        {{/if}}

    {{!-- LAST POSTS --}}
        {{#if @custom.show_last_posts}}
            {{> "featured" tagtitle="Dernières vidéos" }}
        {{/if}}

    {{!-- TAGS TO DISPLAY --}}
        {{#match @custom.tags_to_display "!=" ""}}
            {{#get 'tags' filter='slug:[{{@custom.tags_to_display}}]' limit='all' include='count.posts'}} {{!-- filter='slug:[live,preview]' order='count.posts desc' --}}
                {{#foreach tags}}
                    {{> "carousel" category=slug order=og_description }}
                {{/foreach}}
            {{/get}}
        {{/match}}

    {{!-- AUTHORS POSTS --}}
        {{#match @custom.show_these_authors_posts "!=" ""}}
            {{#get 'authors' filter='slug:[{{@custom.show_these_authors_posts}}]' limit='all'}}
                {{#foreach authors}}
                    {{> "carousel-authors-posts" site=website title=name api=location profile_image=profile_image name=name}}
                {{/foreach}}
            {{/get}}
        {{/match}}     

    {{!-- ALL AUTHORS POSTS --}}
        {{#match @custom.show_all_authors_posts "!=" "no"}}
                {{> "carousel-authors-posts" site="" title="Recommandations" }}
        {{/match}}
        
    {{!-- AUTHORS --}}
        {{#match @custom.show_these_authors "!=" ""}}
            {{> "carousel-authors" }}
        {{/match}}