{{!-- USELESS FOR THE MOMENT --}}

{"posts":[
{{#get "posts" limit="40" include="tags"}}
{{#foreach posts}}
{
    "id" : "{{id}}",
    "title" : "{{title}}",
    "slug" : "{{slug}}",
    "published_at" : "{{date format="YYYY-MM-DD HH:mm"}}",
    "codeinjection_foot" : "{{codeinjection_foot}}",
    "tags" : {'{{tags separator="','"}}'},
    "feature_image" : "{{img_url feature_image size="s"}}",
    "url" : "{{url}}",
    "visibility" : "{{#unless access}}{{^has visibility="public"}}{{#has visibility="members"}}member{{else}}paid{{/has}}{{/has}}{{else}}public{{/unless}}",
},
{{/foreach}}
{{/get}}
]}