{{!< default}}
{{#contentFor "title"}}
Mon historique - 
{{/contentFor}}

<div class="content-area tag-template">
<main class="site-main">

    
        <section class="term gh-outer">
            <div class="term-wrapper">
                <h1 class="term-name">Mon historique</h1>
                <div class="term-description">
                    Ici votre historique de lecture des vidéos.<br>
                    <i>Conservé sur ce navigateur seulement.</i><br>
                </div>
            </div>
        </section>
    

    <div class="post-feed history" style="display:none">
        {{#get "posts" include="tags" limit="all" as |posts|}}
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
        {{/get}}
    </div>

<script>
var articles=document.querySelectorAll("article");articles.forEach((function(e){let t=playerHistory.get(e.dataset.id);if(t){var r=document.createElement("div");r.classList.add("remove-button"),r.setAttribute("title","Retirer de mon historique"),r.innerHTML="×";var o=e.querySelector(".post-media .u-placeholder");o&&(o.classList.add("is-remove-button"),o.appendChild(r));var i=playerHistory.get(document.querySelector("article:first-of-type").dataset.id);t.time>i.time&&document.querySelector(".post-feed").prepend(e)}else e.remove()}));var historyInfo=document.createElement("div");if(document.querySelector(".term-description").append(historyInfo),0==document.querySelectorAll("article").length)historyInfo.innerHTML="Votre historique est vide.";else{var buttonAll=document.createElement("a");buttonAll.setAttribute("href","#"),buttonAll.innerHTML="Effacer tout mon historique.",buttonAll.addEventListener("click",(function(e){e.preventDefault(),confirm("Merci de confirmer la suppression de tout votre historique.")&&(playerHistory.deleteAll(),document.querySelectorAll(".post-feed article").forEach((function(e){e.remove()})),historyInfo.innerHTML="Votre historique est vide.")})),historyInfo.append(buttonAll),document.querySelector(".post-feed").style.display="block"}document.querySelectorAll(".remove-button").forEach((function(e){e.addEventListener("click",(function(){if(confirm("Merci de confirmer la suppression de cette vidéo de votre historique.")){var e=this.closest("article");playerHistory.delete(e.dataset.id),e.remove()}}))}));
</script>

</main>
</div>