{{!< default}}
{{#contentFor "title"}}
Ma liste - 
{{/contentFor}}

<div class="content-area tag-template">
<main class="site-main">

    
        <section class="term gh-outer">
            <div class="term-wrapper">
                <h1 class="term-name">Ma liste</h1>
                <div class="term-description">
                    Ici les vidéos que vous avez sauvegardées dans votre liste.<br>
                    <i>Liste enregistrée dans ce navigateur seulement.</i><br>
                </div>
            </div>
        </section>
    

    <div class="post-feed historic" style="display:none">
        {{#get "posts" include="tags" limit="all" as |posts|}}
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
        {{/get}}
    </div>

<script>
var articles=document.querySelectorAll("article");articles.forEach((function(e){var t=myList.get(e.dataset.id);if(t){var r=document.createElement("div");r.classList.add("remove-button"),r.setAttribute("title","Retirer de ma liste"),r.innerHTML="×";var o=e.querySelector(".post-media .u-placeholder");o&&(o.classList.add("is-remove-button"),o.appendChild(r));var i=myList.get(document.querySelector("article:first-of-type").dataset.id);t.time>i.time&&document.querySelector(".post-feed").prepend(e)}else e.remove()})),0==document.querySelectorAll("article").length?document.querySelector(".term-description").append("Aucune vidéo présente dans votre liste pour le moment."):document.querySelector(".post-feed").style.display="block",document.querySelectorAll(".remove-button").forEach((function(e){e.addEventListener("click",(function(){if(confirm("Merci de confirmer la suppression de cette vidéo de votre liste.")){var e=this.closest("article");myList.delete(e.dataset.id),e.remove()}}))}));
</script>

</main>
</div>