{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}

    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post{{#unless access}} noaccess{{/unless}}{{^has visibility="public"}}{{#has visibility="members"}} for-member{{else}} for-paidmember{{/has}}{{/has}}" data-id="{{id}}" data-slug="{{slug}}" data-video="{{codeinjection_foot}}">

        <header class="article-header gh-canvas">
            {{> "post-image"}}
            <h1 class="post-title">{{title}}</h1>
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>
                {{!-- A réactiver pour les commentaires natifs de Ghost
                {{#if @site.comments_enabled}}
                    {{comment_count class="post-meta-item"}}
                {{/if}}
                --}}
                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags"><a class="post-tag post-tag-{{slug}}" href="{{#match slug "=" "blog"}}/blog/{{else}}{{url}}{{/match}}" title="{{name}}">{{name}}</a></span>
                {{/primary_tag}}
            </div>

            <div id="actions">
                {{#if @custom.donation_url}}
                <span class="give"><a title="Faire un don" href="{{@custom.donation_url}}" target="_blank" data-original-title="Faire un don" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
                </svg></a></span>
                {{/if}}

                <span class="fav"><a href="#" title="Ajouter à ma liste" tabindex="0">
                {{> "icons/bookmark" size="26"}}
                {{> "icons/bookmark-checked" size="26"}}
                </a></span>
                
                {{!-- A réactiver pour les commentaires natifs de Ghost
                {{#if comments}}
                <span class="comment"><a href="{{#if @member}}#comments{{else}}#/portal/signin{{/if}}" title="Commenter" data-original-title="Commenter" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"></path>
                </svg></a></span>
                {{/if}}
                --}}
                
                {{#if @custom.comment_url}}
                <span class="comment"><a href="{{#unless access}}#/portal/signin{{else}}{{@custom.comment_url}}{{/unless}}" title="Envoyer un commentaire" data-original-title="Envoyer un commentaire" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
                <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"></path>
                </svg></a></span>
                {{/if}}
                
                <span class="share"><a title="Partager" href="https://www.addtoany.com/share#url={{url absolute="true"}}" target="_blank" data-title="{{title}}" date-text="{{excerpt characters="140"}}" data-url="{{url absolute="true"}}" data-original-title="Partager" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"></path>
                </svg></a></span>
            </div>
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if @custom.show_author}}
            {{> "author-box"}}
        {{/if}}

    </article>

    {{!-- A réactiver pour les commentaires natifs de Ghost
    {{#if comments}}
        <section class="gh-comments gh-canvas" id="comments">
            <h3 class="related-title">Commentaires ({{comment_count empty="0" singular="commentaire" plural="commentaires"}})</h3>
            {{comments title="" count=false}}
        </section>
    {{/if}}
    --}}

    {{#if @custom.show_related_posts}}
        {{> "related"}}
    {{/if}}

    {{#match @custom.show_all_authors_posts "!=" "no"}}
        {{> "carousel-authors-posts" site="" title="Recommandations" }}
    {{/match}}

{{#match primary_tag.slug "!=" "blog"}}
<script>
const videoHosts=["youtube","peertube","streamlike","vimeo"],chatHosts=["livechat","webchat","sli.do"];var player,iframes=document.querySelectorAll(".gh-content iframe");if(iframes.length>1&&!chatHosts.some((e=>iframes[1].src.includes(e)))&&videoHosts.some((e=>iframes[0].src.includes(e)))&&iframes[0].remove(),(iframes=document.querySelectorAll(".gh-content iframe")).length>0){const e=document.querySelector(".post-media.post-main");if(iframes[1]&&chatHosts.some((e=>iframes[1].src.includes(e)))){var iframe=iframes[1];document.querySelector("body").classList.add("videaste_chat"),iframe.classList.add("chat"),iframe.style.height="100%",e.querySelector(".post-image").classList.add("player"),e.appendChild(iframe)}if(videoHosts.some((e=>iframes[0].src.includes(e)))){iframe=iframes[0];document.querySelector("body").classList.add("videaste_player"),iframe.classList.add("player"),iframe.setAttribute("id","player");var url=iframe.getAttribute("src").split("#")[0];function playerReframe(e){if("function"==typeof reframe){reframe(e);const t=document.createElement("div");t.classList.add("fullscreen-button"),e.parentNode.appendChild(t),run(e)}else setTimeout((function(){playerReframe(e)}),100)}url+=(-1===url.indexOf("?")?"?":"&")+"api=1&enablejsapi=1&events=1&autoplay=1",url+="localhost"!==window.location.hostname?"&origin="+window.location.origin:"",iframe.setAttribute("src",url),iframe.setAttribute("allow","autoplay"),iframe.setAttribute("allow-top-navigation",""),iframe.getAttribute("sandbox")&&iframe.setAttribute("sandbox",iframe.getAttribute("sandbox")+" allow-top-navigation"),e.querySelector(".post-image").remove(),e.prepend(iframe),iframe.style.position="relative",iframe.getAttribute("height")!==undefined&&iframe.getAttribute("width")!==undefined?iframe.style.height=iframe.offsetWidth*iframe.getAttribute("height")/iframe.getAttribute("width")+"px":iframe.style.height=.5625*iframe.offsetWidth+"px","loading"===document.readyState?document.addEventListener("DOMContentLoaded",(function(){playerReframe(iframe)})):playerReframe(iframe)}}function upgradeBlock(e){const t=document.querySelector(".single-post .post-media"),a=document.querySelector("aside.gh-post-upgrade-cta");a!==undefined&&("show"==e&&a.parentNode!==t?(t.classList.add("calltoaction"),t.prepend(a)):"hide"==e&&a.parentNode==t&&(t.classList.remove("calltoaction"),document.querySelector(".gh-content").appendChild(a)))}async function run(e){if(e.src.includes("youtube.com")){var t=document.createElement("script");t.src="https://www.youtube.com/iframe_api";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(t,a)}else if(e.src.includes("vimeo.com"))loadScript("https://player.vimeo.com/api/player.js",(function(){var t=new Vimeo.Player(e),a=playerHistory.get("{{id}}");a&&a.duration-a.position>10&&t.setCurrentTime(a.position-5),useTimecodes("vimeo",t),t.on("timeupdate",(function(e){player_playing(e.seconds,e.duration)}))}));else if(e.src.includes("streamlike.com")){var o=!1,i=new URL(e.src).searchParams.get("med_id");fetch("https://cdn.streamlike.com/ws/media?media_id="+i+"&f=json").then((e=>e.json())).then((e=>{o=e.media.metadata.global.duration}))["catch"]((e=>console.error("Erreur:",e))),(r=playerHistory.get("{{id}}"))&&r.duration-r.position>10&&e.addEventListener("load",(function(){e.contentWindow.postMessage('["seek",'+(r.position-5)+"]","*")}),!1),useTimecodes("streamlike",e),window.addEventListener("message",(function(e){("string"==typeof e.data||e.data instanceof String)&&(sl=JSON.parse(e.data),"sl-progress"==sl[0]&&!1!==o&&player_playing(sl[1],o))}))}else{const t=new(0,window.PeerTubePlayer)(e);var r;await t.ready,(r=playerHistory.get("{{id}}"))&&r.duration-r.position>10&&await t.seek(r.position-5),useTimecodes("peertube",t),await t.addEventListener("playbackStatusUpdate",(function(e){"playing"==e.playbackState&&player_playing(e.position,e.duration)}))}}function onYouTubeIframeAPIReady(){document.querySelector("#player").src.includes("youtube.com")&&(player=new YT.Player("player",{events:{onReady:onPlayerReady,onStateChange:onPlayerStateChange}}))}function onPlayerReady(e){var t=playerHistory.get("{{id}}");t&&t.duration-t.position>10&&(player.seekTo(t.position-5,!0),player.playVideo()),useTimecodes("youtube",player)}function onPlayerStateChange(e){player_playing(player.getCurrentTime(),player.getDuration()),e.data===YT.PlayerState.PLAYING?timer=setInterval((function(){player_playing(player.getCurrentTime(),player.getDuration())}),1e3):"undefined"!=typeof timer&&clearInterval(timer)}function player_playing(e,t){if(t>20&&e>5&&!document.querySelector(".single-post").classList.contains("noaccess")){var a={id:"{{id}}",position:e,duration:t,time:Date.now()};playerHistory.add(a),t-e<16?document.querySelector(".single-post .post-media.post-main").classList.add("display-nextbutton"):document.querySelector(".single-post .post-media.post-main").classList.remove("display-nextbutton"),t-e<1&&"false"!=localStorage.autoplay&&null!==document.querySelector(".nextbutton")&&(window.location=document.querySelector(".nextbutton a.post-image-link").getAttribute("href"))}else t>10&&document.querySelector(".single-post").classList.contains("noaccess")&&upgradeBlock(t-e<1?"show":"hide")}function loadScript(e,t){var a=document.createElement("script");a.type="text/javascript",a.readyState?a.onreadystatechange=function(){"loaded"!==a.readyState&&"complete"!==a.readyState||(a.onreadystatechange=null,t())}:a.onload=function(){t()},a.src=e,document.getElementsByTagName("head")[0].appendChild(a)}function useTimecodes(e,t){document.querySelectorAll(".gh-content p").forEach((function(e){e.innerHTML=e.innerHTML.replace(/\b((?:\d{1,2}:)?\d{1,2}:\d{2})\b/g,(function(e){return`<a href="javascript:;" class="gototimecode" data-seconds="${function timecodeToSeconds(e){var t=e.split(":").map(Number),a=0;return 3===t.length?a=3600*t[0]+60*t[1]+t[2]:2===t.length&&(a=60*t[0]+t[1]),a}(e)}">${e}</a>`}))})),document.addEventListener("click",(function(a){if(a.target&&a.target.matches(".gototimecode")){a.preventDefault();var o=a.target.getAttribute("data-seconds");o&&t&&("youtube"==e?(t.seekTo(parseFloat(o)),t.playVideo()):"peertube"==e?(t.seek(parseFloat(o)),t.play()):"vimeo"==e?(t.setCurrentTime(parseFloat(o)),t.play()):"streamlike"==e&&(t.contentWindow.postMessage('["seek",'+parseFloat(o)+"]","*"),t.contentWindow.postMessage('["play"]',"*")),document.querySelector("html").getAttribute("data-scroll")>145&&document.getElementById("player").scrollIntoView({behavior:"smooth"}))}}))}document.querySelector(".single-post").classList.contains("noaccess")&&!document.querySelector("body").classList.contains("videaste_player")&&upgradeBlock("show");
</script>
{{/match}}

    {{/post}}

</main>
</div>