{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#tag}}
        <section class="term gh-outer">
            {{#if feature_image}}
                <div class="term-image-container u-placeholder">
                    <img class="term-image u-object-fit" src={{img_url feature_image size="xs"}} alt={{name}}>
                </div>
            {{/if}}
            <div class="term-wrapper">
                <h1 class="term-name">{{name}}</h1>
                <div class="term-description">{{description}}</div>
            </div>
        </section>

        {{#match og_description "=" "serie"}}
            {{#get "posts" limit="all" include="tags" filter="tag:{{slug}}+tag:-blog" order="published_at asc"}}
                <div class="post-feed serie">
                    {{#foreach posts}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
                
            {{/get}}
        {{else}}
            {{#get "posts" limit="all" include="tags" filter="tag:{{slug}}+tag:-blog"}}
                <div class="post-feed">
                    {{#foreach posts}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
                
            {{/get}}
        {{/match}}

    {{else}}
        <section class="term gh-outer">
            <div class="term-wrapper">
                <h1 class="term-name">Vidéos</h1>
                <div class="term-description">Toutes les vidéos</div>
            </div>
        </section>
    {{/tag}}

{{!--
    <div class="post-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
    {{pagination}}
--}}

</main>
</div>