{{!< default}}

<div class="content-area">
<main class="site-main">

    <section class="term gh-outer">
        <div class="term-wrapper">
            <h1 class="term-name">Vidéos</h1>
            <div class="term-description">Toutes les vidéos</div>
        </div>
    </section>

    <div class="post-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>
</div>