.gh-head-logo {
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-weight: 600;
}

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    position: relative;
    color: #fff;
    background: var(--ghost-accent-color);
}

.site-header-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.site-header-content {
    position: relative;
    /* z-index: 100; */
    display: flex;
    align-items: center;
    padding-top: calc(19vmin + 44px);
    padding-bottom: 19vmin;
    text-align: center;
    color: #fff;
    margin-bottom: 4em;
}

.has-cover .site-header-content {
    min-height: 560px;
    background-color: var(--ghost-accent-color);
    color: #fff;
}

.site-header-content.left-aligned {
    padding-bottom: 0;
    text-align: left;
}

.has-cover .site-header-content.left-aligned {
    align-items: flex-end;
    padding-bottom: max(4vmin, 32px);
}

.site-header-content.no-content {
    padding-top: 0;
    padding-bottom: 2vmin;
}

.site-header-inner {
    position: relative;
    width: 100%;
}

.site-header-content.left-aligned .site-header-inner {
    align-items: flex-start;
}

.site-logo {
    flex-shrink: 0;
    margin: 0 auto;
    max-height: 120px;
}

.site-header-content.left-aligned .site-logo {
    margin-right: auto;
    margin-left: 0;
    max-height: 96px;
}

.site-title {
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 800;
}

.has-serif-title .site-title {
    font-family: var(--font-serif);
}

.has-cover .site-title {
    font-size: 6rem;
}

.site-header-content.left-aligned .site-title {
    font-size: 4.4rem;
}

.has-cover .site-header-content.left-aligned .site-title {
    font-size: 4.6rem;
}

.site-description {
    display: inline-block;
    z-index: 10;
    max-width: 960px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
}

:is(.site-logo, .site-title) + .site-description {
    max-width: 640px;
    margin-top: 16px;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
}

.site-logo + .site-description {
    margin-top: 20px;
}

.site-title + .site-description {
    color: var(--color-secondary-text);
}

.has-cover .site-description {
    letter-spacing: -0.005em;
    color: #fff;
}

.has-cover :is(.site-logo, .site-title) + .site-description {
    font-size: 2.4rem;
}

.has-cover .site-header-content.left-aligned :is(.site-logo, .site-title) + .site-description {
    font-size: 2.2rem;
}

@media (min-width: 992px) {
    .is-head-stacked.has-cover .site-header-content {
        padding-top: calc(19vmin + 120px);
    }
}

@media (max-width: 991px) {
    .site-header-content {
        padding-top: calc(19vmin + 32px);
    }
}

@media (max-width: 767px) {
    .has-cover .site-header-content {
        min-height: 240px;
    }
    .site-header-inner {
        gap: 16px;
    }
    .site-logo {
        max-width: 60%;
    }
    .site-title {
        font-size: 3.4rem !important;
    }
    .site-description {
        font-size: 3rem !important;
    }
    .site-logo + .site-description {
        margin-top: 12px !important;
    }
    .site-title + .site-description {
        margin-top: 12px !important;
    }
}

.gh-head-logo img  {
    border-radius: 100%;
}
.gh-head-brand .gh-search {
    margin-right: 18px;
}

@media (max-width: 767px) {
    #gh-head .gh-head-brand { /* pour prendre en compte le bouton Ma Liste */
        grid-template-columns: 1fr auto auto auto;
    }
    #announcement-bar-root {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2000;
    }
}