.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding-top: 0;
}

.home .gh-content {
    margin-top: 0;
    margin-bottom: 4em;
}
@media (max-width: 767px) {
    .home .gh-content {
        margin-bottom: 0;
    }
}

a.focus, button.focus {
    outline: solid var(--dark-gray-color);
}

.showto-free,
.showto-member,
.showto-memberpaid,
.block-showto-free,
.block-showto-member,
.block-showto-memberpaid,
.flex-showto-free,
.flex-showto-member,
.flex-showto-memberpaid {
    display: none !important;
}
.useris-free .showto-free {
    display: initial !important;
}
.useris-free .block-showto-free {
    display: block !important;
}
.useris-free .flex-showto-free {
    display: flex !important;
}

.useris-member .showto-member {
    display: initial !important;
}
.useris-member .block-showto-member {
    display: block !important;
}
.useris-member .flex-showto-member {
    display: flex !important;
}

.useris-memberpaid .showto-memberpaid {
    display: initial !important;
}
.useris-memberpaid .block-showto-memberpaid {
    display: block !important;
}
.useris-memberpaid .flex-showto-memberpaid {
    display: flex !important;
}


body.videaste_chat .single-post .post-media.post-main {
    display: grid; 
    grid-template-columns: 
        minmax(0,70%)
        minmax(300px,30%);
    grid-template-areas: 
      "player chat"; 
    max-width: 100% !important;
}
.chat { grid-area: chat; }
.player { grid-area: player; }
@media (max-width: 767px) {
    body.videaste_chat .single-post .post-media.post-main {
        display: block;
        grid-column: full-start/full-end;
    }
}


.post-feed .post-media img,
.post-feed .post-media .u-placeholder {
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 767px) {
.post-feed .post-media img,
.post-feed .post-media .u-placeholder {
    border-radius: 6px;
}
}

.kg-product-card-description p {
    opacity: 1 !important;
}
.kg-product-card-container {
    position: relative;
}
.kg-product-card-description u {
    font-size: 85%;
    font-weight: bold;
    text-decoration:none;
    background: #70aad4;
    color: var(--color-white);
    padding: 2px 7px;
    border-radius: 6px;
    position: absolute;
    right: -6px;
    top: -15px;
    display: block;
}

.kg-width-full .kg-header-card-text {
    padding: min(12vmax,260px) !important;
}
@media (max-width: 767px) {
.kg-width-full .kg-header-card-text {
    padding: min(6.4vmax,120px) min(4vmax,80px) !important;
}
}