.videaste-links .kg-card.kg-button-card a.kg-btn {
    font-size: 1em;
    width: 100%;
    padding: 24px;
    border-radius: 50px;
    justify-content: center;
    border: 2px solid var(--ghost-accent-color);
    transition: background-color .2s ease, color .2s ease;
}
.videaste-links .kg-card.kg-button-card a.kg-btn:hover {
    background-color: var(--white-color);
    color: var(--ghost-accent-color);
}

.videaste-links .links-grid-2 {
	display:grid;
    grid-gap:2em;
    grid-template-columns:repeat(2,1fr);
    margin-bottom: 1em;
}
.videaste-links .kg-card.kg-button-card a.kg-btn {
    position: relative;
}
@media (max-width: 767px) {
    .videaste-links .kg-card.kg-button-card a.kg-btn {
    	padding-left: 2.8em;
    }
}
.videaste-links .kg-card.kg-button-card a.kg-btn::before,
.videaste-links .kg-card.kg-button-card a.kg-btn::before{
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    width: 2rem; height: 2rem;
    position: absolute;
    left: 1em;
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="apple"]::before{
    background-image: url('data:image/svg+xml,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5117 17.4414C10.7929 16.4219 11.25 13.9258 11.25 12.7656C11.25 11.5352 10.125 11.2188 8.99995 11.2188C7.8398 11.2188 6.74995 11.5352 6.74995 12.7656C6.74995 13.9258 7.17183 16.457 7.45308 17.4414C7.62886 18.1094 8.33198 18.25 8.99995 18.25C9.63276 18.25 10.3359 18.1094 10.5117 17.4414ZM5.06245 8.40626C5.06245 6.26173 6.74995 4.53907 8.89448 4.50391C11.0742 4.4336 12.9023 6.22657 12.9375 8.40626C12.9375 9.39063 12.5859 10.3047 11.9179 11.043C11.8828 11.1133 11.8476 11.2188 11.9179 11.2891C12.0937 11.5703 12.2343 11.8516 12.3046 12.2031C12.3398 12.3438 12.5156 12.4141 12.6562 12.3086C13.6757 11.3242 14.3437 9.95313 14.3437 8.40626C14.3085 5.45313 11.8828 3.02735 8.89448 3.09766C5.97651 3.13282 3.6562 5.48829 3.6562 8.40626C3.6562 9.95313 4.28901 11.3242 5.30855 12.3086C5.44917 12.4141 5.62495 12.3438 5.66011 12.2031C5.73042 11.8516 5.87105 11.5703 6.04683 11.2891C6.11714 11.2188 6.08198 11.1133 6.04683 11.043C5.37886 10.3047 5.06245 9.39063 5.06245 8.40626ZM8.99995 0.285164C4.42964 0.250007 0.738233 3.90626 0.703077 8.47657C0.667921 11.9219 2.74214 14.9102 5.69526 16.1758C5.83589 16.2461 6.01167 16.1055 5.97651 15.9649C5.94136 15.6133 5.83589 15.0859 5.80073 14.7695C5.80073 14.6992 5.73042 14.6289 5.69526 14.6289C3.58589 13.4688 2.10933 11.2188 2.10933 8.54688C2.10933 4.75001 5.16792 1.65626 8.99995 1.65626C12.7968 1.65626 15.8906 4.75001 15.8906 8.54688C15.8906 11.1836 14.414 13.4688 12.2695 14.6289C12.2343 14.6289 12.164 14.6992 12.164 14.7695C12.1289 15.0859 12.0234 15.6133 11.9882 15.9649C11.9531 16.1055 12.1289 16.2461 12.2695 16.1758C15.2226 14.9102 17.2968 11.9922 17.2968 8.54688C17.2968 3.97657 13.5703 0.285164 8.99995 0.285164ZM8.99995 5.87501C7.73433 5.87501 6.74995 6.89454 6.74995 8.12501C6.74995 9.39063 7.73433 10.375 8.99995 10.375C10.2304 10.375 11.25 9.39063 11.25 8.12501C11.25 6.89454 10.2304 5.87501 8.99995 5.87501Z" fill="white"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="google"]::before{
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.4773C8.37868 3.4773 7.875 2.97359 7.875 2.3523V1.125C7.875 0.503684 8.37868 0 9 0C9.62132 0 10.125 0.503684 10.125 1.125V2.3523C10.125 2.97359 9.62132 3.4773 9 3.4773ZM9 14.5227C8.37868 14.5227 7.875 15.0264 7.875 15.6477V16.875C7.875 17.4963 8.37868 18 9 18C9.62132 18 10.125 17.4963 10.125 16.875V15.6477C10.125 15.0264 9.62132 14.5227 9 14.5227ZM6.13623 13.2955V12.0682V12.0682C6.13623 11.4469 5.63255 10.9432 5.01123 10.9432C4.38991 10.9432 3.88623 11.4469 3.88623 12.0682V13.2955C3.88623 13.9168 4.38988 14.4205 5.01123 14.4205C5.63258 14.4205 6.13623 13.9168 6.13623 13.2955ZM6.13623 8.7188V4.70459C6.13623 4.08327 5.63255 3.57959 5.01123 3.57959C4.38991 3.57959 3.88623 4.08327 3.88623 4.70459V8.7188H3.88655C3.90012 9.32831 4.39846 9.81824 5.01123 9.81824C5.624 9.81824 6.12238 9.32831 6.13595 8.7188H6.13623ZM2.25 8.38625V9.61358C2.25 10.2349 1.74632 10.7386 1.125 10.7386C0.503684 10.7386 0 10.2349 0 9.61358V8.38625C0 7.76492 0.503684 7.26123 1.125 7.26123C1.74632 7.26123 2.25 7.76492 2.25 8.38625ZM15.7505 8.41821C15.7502 8.40756 15.75 8.3969 15.75 8.38625C15.75 7.76492 16.2537 7.26123 16.875 7.26123C17.4963 7.26123 18 7.76492 18 8.38625C18 8.39694 17.9999 8.40763 17.9995 8.41824H18V9.64553H17.9995C17.9827 10.2521 17.4856 10.7386 16.875 10.7386C16.2644 10.7386 15.7674 10.2521 15.7505 9.64553H15.75V8.41821H15.7505ZM11.8638 5.93188C11.8638 6.5532 12.3674 7.05689 12.9888 7.05689C13.6101 7.05689 14.1138 6.5532 14.1138 5.93188V4.7046C14.1138 4.08328 13.6101 3.57959 12.9888 3.57959C12.3675 3.57959 11.8638 4.08328 11.8638 4.7046V5.93188ZM11.8638 9.30688C11.8638 8.68557 12.3674 8.18188 12.9888 8.18188C13.6101 8.18188 14.1138 8.68557 14.1138 9.30688V13.2955C14.1138 13.9169 13.6101 14.4205 12.9888 14.4205C12.3675 14.4205 11.8638 13.9169 11.8638 13.2955V9.30688ZM10.125 12.2727V5.72729C10.125 5.10594 9.62132 4.60229 9 4.60229C8.37868 4.60229 7.875 5.10594 7.875 5.72729V12.2727C7.875 12.894 8.37868 13.3977 9 13.3977C9.62132 13.3977 10.125 12.894 10.125 12.2727Z" fill="white"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="spotify"]::before{
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.71875 0C3.90234 0 0 3.9375 0 8.71875C0 13.5352 3.90234 17.4375 8.71875 17.4375C13.5 17.4375 17.4375 13.5352 17.4375 8.71875C17.4375 3.9375 13.5 0 8.71875 0ZM12.2344 12.832C12.0938 12.832 11.9883 12.7969 11.8828 12.7266C9.66797 11.3906 7.13672 11.3555 4.60547 11.8477C4.46484 11.8828 4.28906 11.9531 4.18359 11.9531C3.83203 11.9531 3.62109 11.6719 3.62109 11.3906C3.62109 11.0391 3.83203 10.8633 4.11328 10.793C6.99609 10.1602 9.91406 10.2305 12.4453 11.707C12.6562 11.8477 12.7617 11.9883 12.7617 12.3047C12.7617 12.6211 12.5156 12.832 12.2344 12.832ZM13.1836 10.5469C13.0078 10.5469 12.8672 10.4414 12.7617 10.4062C10.5469 9.10547 7.27734 8.57812 4.35938 9.35156C4.18359 9.38672 4.11328 9.45703 3.9375 9.45703C3.58594 9.45703 3.26953 9.14062 3.26953 8.75391C3.26953 8.40234 3.44531 8.15625 3.79688 8.05078C4.78125 7.76953 5.80078 7.55859 7.24219 7.55859C9.52734 7.55859 11.7422 8.12109 13.4648 9.17578C13.7461 9.31641 13.8867 9.5625 13.8867 9.84375C13.8516 10.2305 13.5703 10.5469 13.1836 10.5469ZM14.2734 7.875C14.0977 7.875 13.9922 7.80469 13.8164 7.73438C11.3203 6.22266 6.85547 5.87109 3.9375 6.67969C3.83203 6.71484 3.65625 6.78516 3.48047 6.78516C3.02344 6.78516 2.67188 6.39844 2.67188 5.94141C2.67188 5.44922 2.98828 5.20312 3.30469 5.09766C4.53516 4.74609 5.90625 4.57031 7.41797 4.57031C9.98438 4.57031 12.6914 5.09766 14.625 6.25781C14.9062 6.39844 15.082 6.60938 15.082 7.03125C15.082 7.52344 14.6953 7.875 14.2734 7.875Z" fill="white"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="deezer"]::before{
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="iso-8859-1"%3F><!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.848px" height="97.848px" viewBox="0 0 97.848 97.848" style="enable-background:new 0 0 97.848 97.848;" xml:space="preserve"><g><g><rect y="70.818" width="17.838" height="5.406"/><rect y="63.791" width="17.838" height="5.408"/><rect y="56.764" width="17.838" height="5.408"/><rect y="49.736" width="17.838" height="5.405"/><rect y="42.709" width="17.838" height="5.404"/><rect x="20.001" y="70.818" width="17.84" height="5.406"/><rect x="20.001" y="63.791" width="17.84" height="5.408"/><rect x="20.001" y="56.764" width="17.84" height="5.408"/><rect x="40.004" y="70.818" width="17.84" height="5.406"/><rect x="40.004" y="63.791" width="17.84" height="5.408"/><rect x="40.004" y="56.764" width="17.84" height="5.408"/><rect x="40.004" y="49.736" width="17.84" height="5.405"/><rect x="40.004" y="42.709" width="17.84" height="5.404"/><rect x="40.004" y="35.68" width="17.84" height="5.406"/><rect x="40.004" y="28.653" width="17.84" height="5.407"/><rect x="60.005" y="70.818" width="17.841" height="5.406"/><rect x="60.005" y="63.791" width="17.841" height="5.408"/><rect x="60.005" y="56.764" width="17.841" height="5.408"/><rect x="60.005" y="49.736" width="17.841" height="5.405"/><rect x="60.005" y="42.709" width="17.841" height="5.404"/><rect x="80.008" y="70.818" width="17.84" height="5.406"/><rect x="80.008" y="63.791" width="17.84" height="5.408"/><rect x="80.008" y="56.762" width="17.84" height="5.406"/><rect x="80.008" y="49.736" width="17.84" height="5.406"/><rect x="80.008" y="42.707" width="17.84" height="5.407"/><rect x="80.008" y="35.681" width="17.84" height="5.404"/><rect x="80.008" y="28.652" width="17.84" height="5.404"/><rect x="80.008" y="21.623" width="17.84" height="5.406"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
    filter:invert();
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="youtube"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-youtube" viewBox="0 0 16 16"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="facebook"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-facebook" viewBox="0 0 16 16"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="instagram"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-instagram" viewBox="0 0 16 16"><path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="discord"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-discord" viewBox="0 0 16 16"><path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/></svg>');
}
.videaste-links .kg-card.kg-button-card a.kg-btn[href*="twitter"]::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>')
}