:root {
    --black: #000;
    --blackrgb: 0,0,0;
    --grey0: #1d1d1d;
    --grey1: #333;
    --grey1rgb: 33, 33, 33;
    --grey2: #3d3d3d;
    --grey3: #474747;
    --grey4: #515151;
    --grey5: #686868;
    --grey6: #7f7f7f;
    --grey7: #979797;
    --grey8: #aeaeae;
    --grey9: #c5c5c5;
    --grey10: #dcdcdc;
    --grey11: #e1e1e1;
    --grey12: #eaeaea;
    --grey13: #f9f9f9;
    --grey13rgb: 249,249,249;
    --grey14: #fbfbfb;
    --white: #fff;
    --whitergb: 255,255,255;
    --red: #f02525;
    --darkerRed: #C50202;
    --yellow: #FFDC15;
    --green: #7FC724;
}

/**************************\
  Basic Modal Styles
\**************************/

  .modal__overlay {
    z-index: 9999999999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadein 0.2s;
    background: linear-gradient(315deg , rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .modal__wrapper {
    position: relative;
    padding: 5vmin 0 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding-right: 35px !important;
    margin-right: -35px !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
@media (min-width: 480px) and (max-height: 880px) {
  .modal__wrapper {
    padding: 4vmin 0 0;
  }
}
  .gh-portal-popup-wrapper {
      padding: 4vmin 0 0;
  }
  .modal__container {
    outline: none;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: var(--white);
    width: 500px;
    margin: 0 auto 40px;
    padding: 32px;
    transform: translateY(0px);
    border-radius: 10px;
    box-shadow: 0 3.8px 2.2px rgba(var(--blackrgb), 0.028), 0 9.2px 5.3px rgba(var(--blackrgb), 0.04), 0 17.3px 10px rgba(var(--blackrgb), 0.05), 0 30.8px 17.9px rgba(var(--blackrgb), 0.06), 0 57.7px 33.4px rgba(var(--blackrgb), 0.072), 0 138px 80px rgba(var(--blackrgb), 0.1);
    animation: popup 0.25s ease-in-out;
    z-index: 9999;

    height: calc(100vh - 70px);
    max-height: 720px;
  }
  .modal__container iframe {
    height: 100vh !important;
  }
  @media (max-width: 480px) {
    .modal__container {
        width: 100% !important;
        border-radius: 0;
        overflow: unset;
        animation: popup-mobile 0.25s ease-in-out;
        box-shadow: none !important;
        transform: translateY(0);
        padding: 28px !important;
        position: relative;
        margin-bottom: 0;
        height: 100vh;
    }
    .modal__wrapper {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--white);
        overflow-y: auto;

        padding-right: 0 !important;
        margin-right: 0 !important;
    }
    .modal__overlay {
        animation: none;
    }
  }


  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    position: fixed;
    top: 24px;
    right: 24px;
    background: #fff;
    z-index: 10000;
    border: 0;
  }
  .modal__close svg {
    color: var(--grey10);
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    box-sizing: content-box;
  }
  .modal__close svg:hover {
    color: var(--grey5);
  }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(5%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
  