.gh-content.tags {
    margin-top: -4rem;
}
.all-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--gap);
}
.all-tags .tag-item {
    width: 25%;
    padding: 24px;
}
@media (max-width: 992px) {
    .all-tags .tag-item {
        width: 33.3%;
        padding: 18px;
    }
}
@media (max-width: 767px) {
    .all-tags .tag-item {
        width: 50%;
        padding: 12px;
    }
}
.all-tags .tag-item a {
    display: block;
    position: relative;
    border-radius: 8px;
    text-decoration: none;
    overflow:hidden;
}
.all-tags .tag-item a::before {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-radius: 8px;
    transition: background .5s ease;
    background: linear-gradient(110deg,rgba(49,54,56,.5) 0,transparent 100%);
}
.all-tags .tag-item a:hover {
    opacity:1;
}
.all-tags .tag-item a:hover::before {
    background-color: rgba(49,54,56,.1);
}
.all-tags .tag-item a::after {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: 100%;
}

.all-tags .tag-item a h2 {
    position:absolute;
    z-index: 2;
    padding: 24px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--color-white);
    letter-spacing: .2px;
}
.all-tags .tag-item a h2 span {
    font-size: 12px;
}
.all-tags .tag-item a img {
    transition: transform .5s ease;
}
.all-tags .tag-item a:hover img {
    transform: scale(1.05);
} 