.term {
    display: flex;
    flex-direction: column;
    max-width: calc(960px + var(--gap) * 2);
    margin: 0 auto 64px;
    margin-bottom: 100px !important;
}

.term-image-container {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.term-name {
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 800;
}
.term-name a.term-social:first-child {
    margin: 0 5px 0 14px;
}

.term-description,
.term-website {
    max-width: 560px;
    margin-top: 16px;
    line-height: 1.5;
}

.term-website {
    margin-top: 10px;
}

.term-website a,
.term-name a.term-social {
    color: var(--ghost-accent-color);
}

@media (max-width: 767px) {
    .term {
        margin-top: -30px;
    }
}
