/*
.gh-post-upgrade-cta h2,
.gh-post-upgrade-cta a.gh-btn:not(.gh-sell),
.gh-post-upgrade-cta small,
.gh-post-upgrade-cta small a,
.gh-post-upgrade-cta small a:hover {
    font-size: 0 !important;
    text-decoration: none;
}
.gh-post-upgrade-cta h2::before {
    content: "Cette vidéo est réservée aux abonnés (gratuit)";
    font-size: 28px;
}
.for-paidmember .gh-post-upgrade-cta h2::before {
    content: "Cette vidéo est réservée aux membres (payant)";
    font-size: 28px;
}

.gh-post-upgrade-cta a.gh-btn:not(.gh-sell)::before {
    content: "S'abonner";
    font-size: 16px;
}

.gh-post-upgrade-cta small::before {
    content: "Vous avez déjà un compte ? ";
    font-size: 16px;
}
.gh-post-upgrade-cta small a::before {
    content: "Se connecter";
    font-size: 16px;
    text-decoration: underline;
}
*/