<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="{{asset 'built/feed-stylesheet.xsl'}}"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"
xmlns:wfw="http://wellformedweb.org/CommentAPI/"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:atom="http://www.w3.org/2005/Atom"
xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0">
    <channel>
        <title>{{@site.title}}</title>
        <link>{{@site.url}}</link>
        <description>{{@site.description}}</description>
        <language>{{@site.locale}}</language>
        <copyright>{{@site.title}} Copyright {{date format="YYYY"}}</copyright>
        <atom:link href="{{@site.url}}/rss/podcast/" rel="self" type="application/rss+xml" />
        <lastBuildDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ" locale="en-en"}}</lastBuildDate>
        <itunes:author>{{@site.title}}</itunes:author>
        <itunes:summary>{{@site.description}}</itunes:summary>
        <itunes:owner>
            <itunes:name>{{@site.title}}</itunes:name>
            <itunes:email>{{@site.members_support_address}}</itunes:email>
        </itunes:owner>
        <itunes:explicit>false</itunes:explicit>
        <itunes:image href="{{@site.logo}}"/>
        {{#if @site.og_title}}<itunes:category text="{{@site.og_title}}"></itunes:category>{{/if}}
        {{#if @site.og_description}}<itunes:category text="{{@site.og_description}}"></itunes:category>{{/if}}

        <image>
            <url>{{@site.logo}}</url>
            <title>{{@site.title}}</title>
            <link>{{@site.url}}</link>
        </image>

        {{#get "posts" filter="tag:hash-podcast" include="tags,authors" limit="all" as |episode|}}
            {{#foreach episode}}
            <item>
                <title>{{title}}</title>
                <link>{{url absolute="true"}}</link>
                <dc:creator><![CDATA[{{authors separator=", "}}]]></dc:creator>
                <pubDate>{{date format="ddd, DD MMM YYYY HH:mm:ss ZZ" locale="en-en"}}</pubDate>
                <guid isPermaLink="false">{{id}}</guid>

                <category><![CDATA[ {{primary_tag.name}} ]]></category>
                <description>{{custom_excerpt}}</description>
                <content:encoded><![CDATA[ {{content}} ]]></content:encoded>

                <enclosure url="{{og_description}}" length="{{og_image}}" type="audio/mpeg"/>
                <media:content url="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}https://via.placeholder.com/1024x576.png?text=Cover+not+found{{/if}}" medium="image"/>
                <image>
                    <url>{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}https://via.placeholder.com/1024x576.png?text=Cover+not+found{{/if}}</url>
                    <title>{{title}}</title>
                    <link>{{url absolute="true"}}</link>
                </image>

                <itunes:image href="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}https://via.placeholder.com/1024x576.png?text=Cover+not+found{{/if}}"></itunes:image>
                <itunes:subtitle>{{custom_excerpt}}</itunes:subtitle>
                <itunes:summary><![CDATA[ {{content}} ]]></itunes:summary>
                <itunes:explicit>clean</itunes:explicit>
                <itunes:block>no</itunes:block>
                <itunes:duration>{{og_title}}</itunes:duration>
                <itunes:author><![CDATA[{{authors separator=", "}}]]></itunes:author>
    
                <googleplay:image href="{{#if feature_image}}{{img_url feature_image size="s"}}{{else}}https://via.placeholder.com/1024x576.png?text=Cover+not+found{{/if}}"></googleplay:image>
                <googleplay:description><![CDATA[{{content}}]]></googleplay:description>
                <googleplay:explicit>No</googleplay:explicit>
                <googleplay:block>no</googleplay:block>
            </item>
            {{/foreach}}
        {{/get}}
    </channel>
</rss>