{
{{#if @member}}
    "id": "{{@member.uuid}}",
    "email":"{{@member.email}}",
    "name":"{{@member.name}}",
    "type":"{{#if @member.paid}}paid{{else if @member}}member{{else}}free{{/if}}"
{{else}}
    "type":"error"
{{/if}}
}