.featured-posts {
    margin-top: 24px;
}
.gh-outer:not(#gh-head) {
    margin-top: 24px;
    margin-bottom: 32px;
}

.tag-hash-poster .u-placeholder::before {
    padding-bottom: 146.4% !important;
}

.featured-posts .post {
    display: none;
    margin-bottom: 2em;
    transform: scale3d(.97,.97,1);
    transition: transform .5s ease;
}
@media (max-width: 767px) {
    .featured-posts .post {
        display: block;
    }
    .gh-outer h5 {
        margin-top: 4em !important;
    }
    .site-header-content {
        margin-bottom: 0 !important;
    }
}
.post:not(.current):not(.single-post):hover,
.post:focus {
    transform: scale3d(1,1,1);
    outline: unset;
}
.featured-posts .post img {
    transition: filter .5s ease,border .3s ease;
}
.featured-posts .post:not(.current):hover .post-media img,
.post:focus .post-media img {
    filter: brightness(1.05);
}
.post:focus .post-media img {
    border: 3px solid var(--primary-color);
}
.featured-posts .post:focus .post-media img {
    border-radius: 6px;
}
.carousel .post-media {
    border-radius: 6px;
    overflow: hidden;
}
.carousel.authors .post-media {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.carousel.authors .post-media img,
.carousel.authors .article:focus .post-media img {
    border-radius: 100% !important;
}
.carousel.authors .u-placeholder.square {
    background: transparent;
}
.carousel.authors .post-image-link[href*="youtube"]::after,
.carousel.authors .post-image-link[href*="instagram"]::after,
.carousel.authors .post-image-link[href*="facebook"]::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28%;
    height: 28%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: 55%;
}
.carousel.authors .post-image-link[href*="youtube"]::after {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/></svg>');
    background-color: red;
}
.carousel.authors .post-image-link[href*="instagram"]::after {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-instagram"><path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/></svg>');
    background-color: #833AB4;
}
.carousel.authors .post-image-link[href*="facebook"]::after {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-facebook"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg>');
    background-color: #0165E1;
}


.featured-posts.owl-loaded .post {
    display: block;
}

.featured-posts .post-header {
    flex-direction: column;
}

.featured-posts .post-title {
    font-size: 2rem;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.featured-posts .post-title .avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    margin-right: 12px;
    margin-top: 6px;
    border-radius: 100%;
    float: left;
}
.featured-posts.authors .post-title {
    text-align: center;
}

.post-meta .author-link::before {
    content: '·';
    margin-left: 5px;
    margin-right: 5px;
}
.post-meta .author-link a {
    color: var(--secondary-text-color);
}

time .new {
    border: 1px solid var(--secondary-text-color);
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    padding: 0px 5px 0;
    text-transform: uppercase;
    margin-right: 8px;
}
time .new.soon {
    color: var(--green);
    border-color: var(--green);
    animation: 2s infinite alternate time-flick;
}
time .new.about-to-start {
    color: var(--ghost-accent-color);
    border-color: var(--ghost-accent-color);
    animation: 1s infinite alternate time-flick;
}
@keyframes time-flick {
    from {
      opacity: .2;
    }
  
    to {
      opacity: 1;
    }
  }

/* Carousel blog */
article.tag-blog .post-media,
.post-feed article.tag-blog .post-media img,
.post-feed article.tag-blog .post-media .u-placeholder {
    border-radius: 0;
}
article.tag-blog .u-placeholder.square:before {
    padding-bottom: 70%;
}
article.tag-blog .post-media a.post-image-link::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-sticky" viewBox="0 0 16 16"><path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293z"/></svg>') no-repeat center;
    bottom: 14px;
    right: 14px;
    z-index: 10;
    border-radius: 4px;
}