.post {
    margin-bottom: 100px;
}

.post-media {
    margin-bottom: 20px;
}
/* VIDEASTE */
.single-post .post-media {
    position: relative;
    overflow: hidden;
}
.single-post .post-media .u-placeholder {
    position: relative;
    z-index: 10;
    background-color: black;
}
.single-post .post-media .u-placeholder::before {
    padding-bottom: 56.25%;
}

@media (max-width: 767px) {
    .single-post .post-media.post-main .js-reframe {
        padding-top: 56.25% !important;  
    }
}

/* VIDEASTE A spécifier quels types d'iframe ? pour pouvoir en laisser certaines ? */ 
iframe.hidden {
    display: none;
}
/* VIDEASTE */
.single-post .post-media iframe.player {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.single-post .post-media.post-main .fullscreen-button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 37px;
    z-index: 90000000;
    cursor: pointer;
}
.post-media.post-main:fullscreen > div {
    padding: 0 !important;
    height: 100% !important;
}
.single-post .post-media .nextbutton { 
    background: #fff;
    display: none;
    opacity: 0;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transform: scale(.8) translateX(34px);
    z-index: 9000000;
    margin: auto;
    width: 252px;
    height: 290px;
}
.single-post .post-media.display-nextbutton .nextbutton {
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      margin-right: -40px;
    }
    to {
      opacity: 1;
      margin-right: 0;
    }
}

.single-post .post-media .nextbutton .featured-posts .post {
    display: block;
    width: 220px;
}



.post-feed .post-media {
    width: 100%;
    max-width: calc(960px + var(--gap) * 2);
    margin: 0 auto 40px;
}

article.tag-hash-live .post-media a.post-image-link::after {
    content: 'En direct';
}
article.tag-hash-preview .post-media a.post-image-link::after {
    content: 'Avant-première';
}
article.tag-hash-exclu .post-media a.post-image-link::after {
    content: 'Exclusivité';
}
article.tag-hash-exclu.tag-hash-preview .post-media a.post-image-link::after {
    content: "Exclusivité\A Avant-première";
}
article.tag-hash-exclu.tag-hash-live .post-media a.post-image-link::after {
    content: 'Exclusivité\A En direct'; 
}
article.tag-hash-preview.tag-hash-live .post-media a.post-image-link::after {
    content: 'Avant-première\A En direct'; 
}
article.tag-hash-exclu.tag-hash-preview.tag-hash-live .post-media a.post-image-link::after {
    content: 'Exclusivité\A Avant-première\A En direct';
}
article.tag-hash-live .post-media a.post-image-link::after,
article.tag-hash-preview .post-media a.post-image-link::after,
article.tag-hash-exclu .post-media a.post-image-link::after {
    display: block;
    white-space: pre;
    text-align: right;
    background: var(--primary-color);
    border-radius: 15px;
    color: var(--white-color);
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}
article.tag-hash-live .post-media .is-remove-button a.post-image-link::after,
article.tag-hash-preview .post-media .is-remove-button a.post-image-link::after {
    right: 60px;
}

article.current .post-media .u-placeholder::after {
    border-bottom: 18px solid transparent;
    border-left: 26px solid #fff;
    border-top: 18px solid transparent;
    content: "";
    display: block; position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    z-index: 10;
    filter: drop-shadow(0px 0px 10px black);
}


article.current .post-media a img {
    filter: brightness(0.5) grayscale(30%);
}
article.viewed .post-media a img {
    filter: brightness(1) grayscale(90%);
    transition: filter .5s ease;
}

.post-media-access {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 600;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 15px;
}
/* .gh-outer.friends .post-media-access:empty {
    opacity:0;
    transition: opacity .25s ease-in-out;
} */
.gh-outer.friends article:hover .post-media-access:empty,
.gh-outer.friends article:focus .post-media-access:empty {
    opacity:1;
}
.gh-outer.friends .post-media-access::before {
    content: " ";
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
}
/* VIDEASTE */
.post-media-access {
    top: 15px;
    right: auto;
    left: 15px;
    color: var(--black-color);
    background: var(--white-color);
}
.post-media-progress {
    background-color: var(--primary-color);
    height: 1.2%;
    min-height: 3px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* VIDEASTE */
.post-media-duration {
    position: absolute;
    bottom: 5px;
    right: 6px;
    z-index: 10;
    padding: 1px 4px;
    font-size: 10px;
    font-weight: 400;
    color: var(--white-color);
    background: var(--black-color);
    border-radius: 4px;
    opacity: .6;
}

.post-image-link:hover {
    opacity: 1;
}

.post-header {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.post-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.01em;
}

.has-serif-title :where(.post-feed, .single-post) .post-title {
    font-family: var(--font-serif);
}

.post-meta {
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.post-meta-item:not(:first-of-type)::before {
    padding: 0 7px 0 4px;
    font-family: serif;
    content: "/";
}

.post-tag {
    color: var(--primary-color);
}

.post-excerpt {
    margin-top: 12px;
}

.has-serif-body .post-excerpt {
    font-family: var(--font-serif);
}

@media (max-width: 767px) {
    .post-media.large {
        margin-bottom: 30px;
    }

    .post-feed .post-title {
        font-size: 24px;
    }
}


/* VIDEASTE */
#actions {
    margin: 0 auto 10px;
}
#actions span {
    margin: 0 .5em;
    display: inline-block;
}
#actions span a {
    opacity: .95;
}
#actions span.fav a:not(.added) svg.fill {
    display: none;
}
#actions span.fav a.added svg:not(.fill) {
    display: none;
}

.post-media .remove-button {
    position: absolute;
    right: 16px;
    top: 12px;
    height: 30px;
    width: 30px;
    opacity: .7;
    padding: 5px;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}
.post-media .remove-button:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    body {
        padding-top: 64px;
    }
    #gh-head {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    html:not([data-scroll='0']) body:not(.post-template) #gh-head {
        box-shadow: rgba(0,0,0,.5) 0 0 10px;
    }
    .single-post .post-media.post-main.display-nextbutton .nextbutton {
        transform: scale(.6) translateX(86px);
    }
}
@media (max-width: 767px) and (orientation: landscape) {
    body.post-template {
        padding-top: 0;
    }
    html[data-scroll='0'] body.post-template #gh-head {
        display: none;
    }
    html:not([data-scroll='0']) body.post-template #gh-head {
        box-shadow: rgba(0,0,0,.5) 0 0 10px;
    }
    body.post-template .single-post .post-media.post-main {
        grid-column: full-start/full-end;
    }

    html[data-scroll='0'] body.post-template #ghost-portal-root .gh-portal-triggerbtn-iframe {
        right: -200px !important;
        opacity: 0;
    }
}
@media (max-width: 767px) and (orientation: portrait) {
    body.post-template {
        padding-top: calc(56.25% + 100px);
    }
    body.post-template .single-post .post-media.post-main {
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
        z-index: 900;
    }
    html[data-scroll='0'] body.videaste_chat #ghost-portal-root .gh-portal-triggerbtn-iframe {
        right: -200px !important;
        opacity: 0;
    }

    html:not([data-scroll='0']) body.post-template .single-post .post-media .u-placeholder:not(.square) {
        box-shadow: rgba(0,0,0,.5) 0 0 10px;
    }
    
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.nextvideo article {
    width: 220px !important;
    margin: 1em 0 0 0 !important;
}
.nextvideo .post-media {
    margin-bottom: 1rem !important;
}
.nextvideo .post-header {
    gap: 0 !important;
    flex-direction: column !important;
    margin-top: 0px !important;
}
.nextvideo .post-header h2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 2rem;
    line-height: 1.2;
    overflow: hidden;
    margin: 6px 0 6px;
}
.nextvideo .post-meta {
    margin: 0 !important;
}


/* FULLSCREEN */
.single-post .post-media:fullscreen .u-placeholder:not(.square)::before {
    display: none !important;
}
.single-post .post-media:fullscreen .u-placeholder {
    position: relative !important;
    height: 100% !important;
    top: 0 !important;
}
@media (min-width: 768px){
    .single-post .post-media:fullscreen .u-placeholder .nextbutton {
        transform: scale(1);
    }
}

button.showmore { 
    width: 116px;
    margin-bottom: 2em;
    padding: 5px;

    position: relative;
    left: 50%;
    margin-left: -50px;   
    
    background-color: rgba(254,254,254,.1);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: color .1s ease, background-color .1s ease;

    cursor: pointer;
}
button.showmore:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}
button.showmore svg {
    vertical-align: middle;
}


/* TEASER CALL TO ACTION */
@keyframes pop-in {
    0% { opacity: 0; transform: translate(-50%, -50%) scale3d(.9,.9,1); }
    100% { opacity: 1; transform: translate(-50%, -50%) scale3d(1); }
}
@keyframes blur-in {
    0% { filter: blur(0); }
    100% { filter: blur(5px); }
}
.single-post .post-media .gh-post-upgrade-cta {
    position: absolute;
    width: 70%;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pop-in .5s ease;
}
.single-post .post-media.calltoaction .post-image,
.single-post .post-media.calltoaction iframe {
    animation: blur-in .5s ease;
    filter: blur(5px);
}

@media (max-width: 767px) {
    .single-post .post-media .gh-post-upgrade-cta .gh-post-upgrade-cta-content {
        padding: 25px;
    }
    .single-post .post-media .gh-post-upgrade-cta h2,
    .single-post .post-media .gh-post-upgrade-cta h2::before {
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .single-post .post-media .gh-post-upgrade-cta {
        width: 80%;
    }
    .single-post .post-media .gh-post-upgrade-cta .gh-post-upgrade-cta-content {
        padding: 20px;
    }
    .single-post .post-media .gh-post-upgrade-cta h2,
    .single-post .post-media .gh-post-upgrade-cta h2::before {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .single-post .post-media .gh-post-upgrade-cta {
        width: 80%;
    }
    .single-post .post-media .gh-post-upgrade-cta .gh-post-upgrade-cta-content {
        padding: 15px;
    }
    .single-post .post-media .gh-post-upgrade-cta a.gh-btn,
    .single-post .post-media .gh-post-upgrade-cta p {
        margin-top: 12px;
    }
}


header figcaption {
    margin-top: -2.2rem;
    margin-bottom: 3.8rem;
}


.gh-post-upgrade-cta .gh-multi-btn {
    display: flex;
    gap: 0 16px;
    flex-wrap: wrap;
    justify-content: center;
}