.single-post {
    margin-bottom: 60px;
}

.single-post .article-header {
    /* text-align: center; */
}

.single-post .post-title {
    margin-bottom: 0;
    font-size: 3.6rem;
    margin: 0 auto 10px;

    /*max-width: 960px;
    width: 100%;*/
    grid-column: wide-start/wide-end;
}

.single-post .post-meta {
    margin: 0 auto 10px;
    /* max-width: 960px;
    width: 100%; */
    grid-column: wide-start/wide-end;
}

.single-post .post-media.post-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 4rem;
    background: black;
}

.single-post .post-media.post-main img {
    width: 100%;
}

.single-post .post-content {
    font-size: 17px;
}

@media (max-width: 767px) {
    .single-post .post-header {
        margin-top: -30px;
    }
}
